<configuration>
  <system.webServer>

    <!-- indicates that the server.js file is a node.js application 
    to be handled by the iisnode module -->

    <handlers>
      <add name="iisnode-socketio" path="server.js" verb="*" modules="iisnode" />
    </handlers>

    
    <rewrite>
      <rules>
        <rule name="sendToNode">
          <match url="newscanapp.com/*" />
          <action type="Rewrite" url="server.js" />
        </rule>
      
    <!--<rewrite>  
     <rules> 
          <rule name="LogFile" patternSyntax="ECMAScript">  
               <match url="socket.io" />  
               <action type="Rewrite" url="server.js" />  
          </rule>  -->
          
          <rule name="LogFile" patternSyntax="ECMAScript" stopProcessing="true">
                     <match url="^[a-zA-Z0-9_\-]+\.js\.logs\/\d+\.txt$"/>
                </rule>

                <rule name="NodeInspector" patternSyntax="ECMAScript" stopProcessing="true">                    
                    <match url="^server.js\/debug[\/]?" />
                </rule>

                <rule name="StaticContent">
                     <action type="Rewrite" url="public{REQUEST_URI}"/>
                </rule>

                <rule name="DynamicContent">
                     <conditions>
                          <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="True"/>
                     </conditions>
                     <action type="Rewrite" url="server.js"/>
                </rule>
          </rules>
    </rewrite>
    <!-- </rules>  
</rewrite> 
        <directoryBrowse enabled="false" /> -->

  </system.webServer>
</configuration>
